<!DOCTYPE html>
<html>
  <head>
    <title>
      intersphinx untangled:
      {% block subtitle %}reveal the Sphinx targets{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}
    <ul>
      {% for site in sites %}
      <li><a href="{{ site }}">{{ site }}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
