{% extends 'index.html.j2' %}

{% block subtitle %}{{ host }}{% endblock %}

{% block content %}
<h1>{{ host }} <a href=".." title="Go back to the full list">↩</a></h1>
<p>
  The tables below list all
  <a href="https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html">intersphinx</a>
  cross-reference targets available from this site.
  To use any of these targets in your own Sphinx documentation, add the site
  URL to your
  <a href="https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html#confval-intersphinx_mapping"><code>intersphinx_mapping</code></a>
  and then use the <strong>Usage example</strong> column value directly in your
  <code>.rst</code> or <code>.md</code> source files.
</p>
{% for url, inventory in inventories.items() %}
<h2><a href="{{ url }}">{{ url }}</a></h2>
{% for role, role_elements in inventory.items() %}
<h3>{{ role }}</h3>
<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Project Name</th>
      <th>Version</th>
      <th>Location</th>
      <th>Display Name</th>
      <th>Usage example</th>
    </tr>
  </thead>
  <tbody>
    {% for identifier, inventory_item in role_elements.items() %}
    <tr>
      <td>{{ identifier }}</td>
      <td>{{ inventory_item.project_name }}</td>
      <td>{{ inventory_item.project_version }}</td>
      <td><a href="{{ url }}/{{ inventory_item.uri }}">{{ inventory_item.uri }}</a></td>
      <td>{{ inventory_item.displayname }}</td>
      <td>
        <code>
          :{% if role == 'std:label' %}std:ref{% elif role == 'py:module' %}py:mod{% else %}{{ role }}{% endif %}:`{{ identifier }}`
        </code>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endfor %}
{% endblock %}
